body { 
  background: #ffffcc;
}

#main { 
  width: 1000px; 
  height: 600px; 
  margin: 25px 25%;
  background: #9999ff;
}

p {
  font-size: 20pt; 
  margin: 25px 600px;
}

h1 { 
  text-align: center;
  font-size: 30pt; 
  color: #9999ff
}


