@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  /* font-family: Roboto; */
  color: rgb(119, 119, 119);
}

html, body { 
  margin-top: 0;
  padding-top: 0;
  /* background: #ffffcc; */
  background: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 20px;
  /*
  background-image: url('../assets/hiragana-a.png');
  background-position: 50%;
  */
}

.nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
}

.nav ul {
  margin: 0px;
}

.nav li {
  display: inline;
  padding: 0px 5%;
}

.nav a {
  display: inline-block;
  padding: .5em;
  /* color: white; */
  text-decoration: none;
}

.nav a:hover {
  /* background-color: rgba(255, 255, 255, .3); */
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.nav hr {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 0px;
}

#full-name { 
  text-align: left;
  font-size: 3em; 
  font-weight: normal;
  color: #9999ff;
  margin-bottom: -20px;
}

/* todo */
.content-section {
}

.prof-pic {
  float: left;
  margin-right: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(139, 83, 20, 0.7);
  color: white;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 20px;
}

#about-background {
  height: 80%;
  width: 100%;
  margin-top: 10px;
  background-image: url('../assets/hiragana-a.png');
  background-image:url(https://www.keithschwarz.com/images/background.bmp);
  background-repeat: repeat;
}

.info-table {
  text-align: center;
  margin: 35px auto;
	width: 75%;
  border: 1px solid black;
	border-collapse: collapse;
  background-color: white;
}

.info-table tr {
  border: 1px solid black;
}

.info-table td {
  vertical-align: middle;
  border-left:1px solid black; 
  border-right: 1px solid black;
  text-align: left;
}

.info-table .headers td {
  text-align: center;
}

.info-table .title td {
  text-align: center;
}

#title {
  margin-top: 20px;
}

.info-table a {
    color: blue;
    text-decoration: none;
}
.info-table a:hover {
    color: red;
    text-decoration: underline;
}

#title {
  text-align: center;
}

#one {
	background-color: #ffffc0;
}

#two {
	background-color: #ffe0ff;
}

#three {
	background-color: #c0ffff;
}

#four {
	background-color: #c0c0ff;
}

#five {
	background-color: #c0ffc0;
}

#six {
	background-color: #f0f0f0;
}
